*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
#menu li{
	list-style: none;
	display: inline-block;
}
#menu li a{
	text-decoration: none;
	position: relative;
	font-family: sans-serif;
	display: block;
	margin-left: 25px;
	padding: 25px 5px;
	text-transform: uppercase;
}